<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(90, 95, 95); text-align: center;color: aliceblue;">
  <header style="background-color: rgb(100, 98, 98); ">
        <h1><title>Formulaire d'identification</title></h1>
  </header>
    
        <h2>Entrez votre nom d'utilisateur et votre mot de passe :</h2>
        <form action="/login", method="post">
            <label for="username">Nom d'utilisateur:</label><br>
            <input type="text" id="username" name="username"><br><br>
            
            <label for="password">Mot de passe:</label><br>
            <input type="password" id="password" name="password"><br><br>
            
            <input type="submit" value="Se connecter" style="color: red;">
        </form>
    
</body>
</html>